@model IEnumerable<MvcApplication1.Models.Articulo>

@{
    ViewBag.Title = "Bienbenidos a Fitness Daw";
}
@Styles.Render("~/Content/css")


<body>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=145887482275458";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <h1> Mantente sano</h1> n
    <h1> Este es un sitio que mejorará tu estilo de vida...</h1>
    <h2>Bienbenidos a Fitness Daw</h2>

    <div id="slider">
		<input checked type="radio" name="slider" id="slide1" />
		<input checked type="radio" name="slider" id="slide2" />
		<input checked type="radio" name="slider" id="slide3" />
		<input checked type="radio" name="slider" id="slide4" />
		<input checked type="radio" name="slider" id="slide5" />
		<div id="slides">
            <div id="overflow">
                <div class="inner">
					<article>
						<div class="info">
							<h5>Noticia 1</h5>
							<a href="#">Ver mas</a>
						</div>
						<img src="~/Images/image1.jpg" alt="image1" />
					</article>
					<article>
						<div class="info">
							<h5>Noticia 2</h5>
							<a href="#">Ver mas</a>
						</div>
						<img src="~/Images/image2.jpg" alt="image2"/>
					</article>
					<article >
						<div class="info">
							<h5>Noticia 3</h5>
							<a href="#">Ver mas</a>
						</div>
						<img src="~/Images/image3.jpg" alt="image3"/>
					</article>
					<article >
						<div class="info">
								<h5>Noticia 4</h5>
								<a href="#">Ver mas</a>
							</div>
							<img src="~/Images/image4.jpg" alt="image4"/>
					</article>
					<article >
						<div class="info">
							<h5>Noticia 5</h5>
							<a href="#">Ver mas</a>
						</div>
						<img src="~/Images/image5.jpg" alt="image5"/>
					</article>
				</div>
			</div>
		</div>
		<div id="controls"> 
				<label for="slide1"> </label>
				<label for="slide2"> </label>			
				<label for="slide3"> </label>
				<label for="slide4"> </label>		
				<label for="slide5"> </label>
		</div>
		<div id="active">
			<label for="slide1"> </label>
			<label for="slide2"> </label>
			<label for="slide3"> </label>
			<label for="slide4"> </label>
			<label for="slide5"> </label>
		</div>
	</div>
    <div class="fb-comments" data-href="https://www.facebook.com/esteban.munozguevara" data-width="470"></div>	
</body>
