#cabezera {
    height: 143px;
    background-color: #FFFFFF;
    color: #002966;
    box-shadow: 0px 0px 5px #000; 
    position:relative;
    z-index: 2; /*Profundidad de los elementos*/
}
#contenidoCabezera {
    width:990px;
    margin:auto;
    border-radius:0px 0px 0px 0px;
    box-shadow:0px 0px 10px 10px;
}
#barraHorizontal {
    height:10px;
    background-color:#007A7A;
    border-radius:0px 0px 10px 10px;//Esquina redondeadas
    box-shadow:0px 0px 10px 10px inset,,;//Altura de la barra
    text-align:center;
}
    #barraHorizontal > lu {
        list-style: none; /*Quita el punto en la lista*/
        padding:50;
        margin:0;
    }
    #barraHorizontal  li {
        display:inline-block;
        padding:10px;
        cursor:pointer;/*Pone la manita cuado se posicina encima*/
        background-color:#007A7A;
        color:#A64E06;
        box-shadow:0px 0px 5px #000 inset;
    }
        #barraHorizontal li > a {
            display: block;
            color:#A64E06;
            text-decoration: none;
            font-weight: bold;
        }
#logotipo {
    height:300%;
    width:30%;
    float:left; /*Elemento flotante posicionado a la izquierda*/
    text-align:left;
    margin-top:50px;
    margin-left:20px;
    position: static;
}
    #logotipo > img {
        box-shadow:20px 20px 10px #707070 ;
    }
#titulo {
    width:60%;
    float:center;
    text-shadow:2px 2px 10px #000; /*Sombreado en el texto*/
}
    #titulo > h1 {
        margin-top:-5px;/*Margen superior*/
    }

#bajo {
    width:1100px;
    margin:auto;
    background-color:rgba(0, 122, 122, 0)
    border-radius:0px 0px 20px 20px; 
    overflow:auto;   
    box-shadow:0px 0px 10px #000;    
}

#columnIzq, #columnDer {
    float:left;
    width:17%;
    min-height:50px;
}
	#columnDer > div{
		text-align: left;
		margin: -23px ;
			border-radius: 70px;
		padding: 85px;
	}
#menuContextual {
    list-style-type:none;
    padding:0;
    margin:0;
}
    #menuContextual > li {
        padding:10px;
        text-align:center;
        background-color:#A64E06;
        color:white;
        border:1px outset #A64E06;
        box-shadow:0px 0px 10px #000 inset ;
    }
#columnCentro {
	
    float: left;
    padding:60px;  /*  Margen del div central   */
	width:550px;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset ;/*Sombreado interno*/
   
}
#columnComentario{
    float: left;
    padding:60px;  /*  Margen del div central   */
    width:50%;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset ;/*Sombreado interno*/
  }
  #comentarios{
    float: left;
    padding:60px;  /*  Margen del div central   */
    width:50%;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset ;/*Sombreado interno*/
  }


#pie {
    height:30px;/*Altura*/
	width: 1100px;
    background-color:#A64606;
    border-radius:0px 0px 20px 20px;
    clear:both;
    box-shadow:0px 0px 5px #000 inset ; 
    color:white;
    text-align: center;
    padding-top:5px;
}
.intro {
	
}

#introCabecera {
	float: left;
	width: 100%;
	background-color: #223980;
	color: #FFFFFF;
	height: 100px;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {/*titulos*/
	font-family: 'Lobster13Regular', cursive;
	color: black;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: normal;
	width: 600px;
	}

a {
	color: #99FF99;
	text-decoration: none;
	border-bottom: 1px dotted #9c5959;
}
#title1 {
	font-family: 'Lobster13Regular';
	font-style: italic;
	font-size: 30px;
	
}
#title2 {
	font-family: 'Lobster13Regular';
	font-style: italic;
	font-size: 25px;			
	
	
}

#introCabecera {
	background-color: #002966;
    color: white;
    box-shadow: 0px 0px 10px #000; 
    position:relative;
    z-index: 2; /*Profundidad de los elementos*/
}

ul#nav {
	font-family: 'Lobster13Regular', cursive;
	width: 1000px;
	height: 185px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	font-size: 19px;
	letter-spacing: 0px;
}
ul#nav li {
	float: left;
	list-style: none;
}

ul#nav li a {
	letter-spacing: 0px;
	display: block;
	width: 90px;
	height: 195px;
	padding: 75px 0 0 0;
	margin: 0 32px 0 32px;
	color: rgba(44, 36, 138, 0.64);
	text-decoration: none;
	background: url(../images/label.png) 0 -80px no-repeat;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
	border-bottom: 0px dotted #9c5959;
}
ul#nav li a:hover, ul#nav li .current {
	background: url(../images/label.png) 0 0 no-repeat;
	color: #eee9d9;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
}

/*Styles for screen 1000px and lower*/
@media screen and (max-width: 980px) {

	ul#nav li a {
	letter-spacing: 0px;	
	display: block;
	width: 90px;
	height: 195px;
	padding: 75px 0 0 0;
	margin: 0 30px 0 20px;
	color: rgba(44, 36, 138, 0.64);
	text-decoration: none;
	background: url(../images/label.png) 0 -80px no-repeat;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
	border-bottom: 0px dotted #9c5959;}
	h1 {
	font-size: 40px;
}
h2 {
	font-size: 18px;
	width: 450px;
}

#pie {
    height:30px;/*Altura*/
	width: 900px;}

#columnCentro {
    float: left;
    padding:60px;  /*  Margen del div central   */
    width: 	400px;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset ;/*Sombreado interno*/

   
}
}

/*Styles for screen 700px and lower*/
@media only screen and (max-width : 838px) {
	ul#nav li a {
	letter-spacing: 0px;
	display: block;
	width: 85px;
	height: 195px;
	padding: 75px 0 0 0;
	margin: 0 20px 0 7px;
	color: rgba(44, 36, 138, 0.64);
	text-decoration: none;
	background: url(../images/label.png) 0 -80px no-repeat;
	-webkit-transition: all .20s ease-out;
	-moz-transiti	on: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
	border-bottom: 0px dotted #9c5959;}
	#columnCentro {
    float: left;
    padding:60px;  /*  Margen del div central   */
    width:380px;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset ;/*Sombreado interno*/

   
}
h2 {
	font-size: 18px;
	width: 430px;
}
#pie {
    height:30px;/*Altura*/
	width: 700px;
}

/*Smartphone*/
@media only screen and (max-width : 690px) {
	
	ul#nav li a {
	letter-spacing: 0px;	
	display: block;
	width: 75px;	
	height: 195px;
	padding: 75px 0 0 0;
	margin: 0 12px 0 1px;
	color: rgba(44, 36, 138, 0.64);
	text-decoration: none;
	background: url(../images/label.png) 0 -80px no-repeat;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;	
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
	border-bottom: 0px dotted #9c5959;}
	#columnCentro {
    float: left;
    padding:60px;  /*  Margen del div central   */
    width:350px;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset ;/*Sombreado interno*/
}
h2 {
	font-size: 18px;
	width: 300px;
}
#pie {
    height:30px;/*Altura*/
	width: 500px;
}
/*Smartphone mini*/
@media only screen and (max-width : 600px) {
	
	ul#nav li a {
	letter-spacing: 0px;
	display: block;		
	width: 65px;
	height: 195px;
	padding: 45px 0 0 0;		
	margin: 0 2px 0 1px;	
	color: rgba(44, 36, 138, 0.64);
	text-decoration: none;
	background: url(../images/label.png) 0 -80px no-repeat;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
	border-bottom: 0px dotted #9c5959;}
	#columnCentro {
    float: left;
    padding:60px;  /*  Margen del div central   */
    width:140px	;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 i	nset ;/*Sombreado interno*/
	resize: both; overflow: auto; 
}
h2 {
	font-size: 18	px;
	width: 200px;
}
#pie {
    height:70px;/*Altura*/
	width: 200px;
}