body {

}

.a {
    
    display:table-row-group;
    border:  100px;
    width:  20%;
    height: 35% ;
    height: auto;
    text-align : justify;
}
h2 {
    font:20px Helvetica,Arial,sans-serif, bold;
    border-bottom: 2px solid;
}
.titulo {
    font-family: Verdana;
    
}
.ocultarRecuadro {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 5px;
}
.mostrarRecuadro {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}