@{
    ViewBag.Title = "Recetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Fitness Daw</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css" >
    <link rel="stylesheet" type="text/css" href="css/rss.css" >
    <link rel='stylesheet' type='text/css' href='css/css-slider.css'/>
    <script type="text/javascript" src="javascript/recetas.js"></script>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=145887482275458";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<form id="form1" >
	<!-- CABECERA -->
	<nav>
		<div id="cabezera">
			<div id="contenidoCabezera">
				<nav>
		          	<ul id="nav">
		            <li><a href="index.html" >Inicio</a></li>
		            <li><a href="queComer.html">Que comer</a></li>
		            <li><a href="queBeber.html">Que beber</a></li>
		            <li><a href="recetas.html" class="current">Recetas</a></li>
		            <li><a href="calendario.html">Calendario de Dieta</a></li>
		            <li><a href="registroDaw.html">Registro</a></li>
		          </ul>
		        </nav>
		    </div>
		</div>
		<div id="introCabecera" style="float: left">
			<div id="logotipo">
				<img  src="images/matrix-icon.png"  width="250px"/> 
			</div>
			<div id="titulo" style="float: left">
				<h1 id="title1">Mantente sano</h1>				
				<h2 id="title2">Este es un sitio que mejorará tu estilo de vida!!!</h2>
			</div>			
		</div>
	</nav>
	
	<!-- SECTION -->
	<div id="bajo">
		<div id="columnIzq">					
		</div>
<div id="columnCentro" style = "background-image: URL('images/bg.jpg');">
	<h1> Bienvenido a Fitness DAW</h1>			
	<!-- SLIDER -->
	<div id="slider">
		<input checked type="radio" name="slider" id="slide1" />
		<input type="radio" name="slider" id="slide2" />
		<input type="radio" name="slider" id="slide3" />
		<input type="radio" name="slider" id="slide4" />
		<input type="radio" name="slider" id="slide5" />
		<div id="slides">
				<div id="overflow">
					<div class="inner">
					<article>
						<div class="info">
							<h5> Camarones en salsa de chipotle y limón </h5>
							<a onclick="mostrarOcultar(0)">Ver mas</a>
						</div>
						<img src="images/recetas/receta-camarones-salsa-chipotle-613x342.jpg" />
					</article>
					<article>
						<div class="info">
							<h5> Ensalada refrescante de jitomate </h5>
							<a onclick="mostrarOcultar(1)">Ver mas</a>
						</div>
						<img src="images/recetas/receta-ensalada-refrescante-jitomate-613x342.jpg" />
					</article>
					<article>
						<div class="info">
							<h5>Berenjenas al grill con queso de cabra y jitomate</h5>
							<a onclick="mostrarOcultar(2)">Ver mas</a>
						</div>
						<img src="images/recetas/receta-berenjenas-grill-queso-cabra-jitomate-613x342.jpg" />
					</article>
					<article>
						<div class="info">
							<h5>Brownies veganos (¡y ligeros!)</h5>
							<a onclick="mostrarOcultar(3)">Ver mas</a>
						</div>
						<img src="images/recetas/receta-brownies-veganos-ligeros-613x342.jpg" />
					</article>
					<article>
						<div class="info">
							<h5> Ensalada de higo, prosciutto y melón</h5>
							<a onclick="mostrarOcultar(4)">Ver mas</a>
						</div>
						<img src="images/recetas/receta-ensalada-higo-prosciutto-melon-613x342.jpg" />
					</article>
					</div>
				</div>
			</div>
		<div id="controls">
				<label for="slide1">
					
				</label>
				<label for="slide2">
					
				</label>
				<label for="slide3">
					
				</label>
				<label for="slide4">
					
				</label>
				<label for="slide5">
					
				</label>
			</div>
		<div id="active">
			<label for="slide1">
				
			</label>
			<label for="slide2">
				
			</label>
			<label for="slide3">
				
			</label>
			<label for="slide4">
				
			</label>
			<label for="slide5">
			
			</label>
		</div>
	</div>	
	<div class="fb-comments" data-href="https://www.facebook.com/groups/301410086546520/" data-width="500" data-num-posts="10"></div>
</div>

	

		
	<!-- ARTICLE -->
		<article>
			<div id="columnDer">
				<div id="redessociales">
					<a href ="http://www.facebook.com">
						<img  src="images/Hover-Facebook-icon.png"  width="100px"/> 
					</a>
					<a href ="http://www.twitter.com">
						<img  src="images/Hover-Twitter-icon.png"  width="100px"/>   
					</a>
					<!-- Link del RSS -->
					<a href =#>
						<img  src="images/RSS.png"  width="100px" href = #/>
					</a>
					<a href ="http://www.youtube.com">
						<img  src="images/Hover-YouTube-icon.png"  width="100px"/>
					</a>            		
				</div>
			</div>
		</article>
		<!-- FOOTER -->
		<footer>
			<div id="pie">
				<span> Developers: Esteban Muñoz,Juan Mite,Marco Mendoza</span>                    
			</div>
		</footer>
		</div>

</form>
</body>
</html>
