@model IEnumerable<MvcApplication1.Models.Articulo>

@{
    ViewBag.Title = "Fitness Daw";
}
<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
 @Styles.Render("~/Content/styles/css")

<div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=145887482275458";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<hgroup class="intro">
    <h1 class="title">Mantente sano</h1>
    <h3 class="tagline">Este es un sitio que mejorará tu estilo de vida...</h3>
</hgroup>   
   
 <div class="reservations"><br />
     <span class="reservations-title">Fitness Daw</span>
     <hr class="hr-solid" />
     <span style="font-family: 'Lobster13Regular', cursive;">Web Development</span>
     <hr class="hr-dashed" />
          
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="wrapper">
        <div class="pikachoose">
          <ul id="pikame">
            <li><a href=""><img src="Images/imagesFitness/home/1.jpg" alt="" /></a></li>
            <li><a href=""><img src="Images/imagesFitness/home/2.jpg" alt="" /></a></li>
            <li><a href=""><img src="Images/imagesFitness/home/3.jpg" alt="" /></a></li>
            <li><a href=""><img src="Images/imagesFitness/home/4.jpg" alt="" /></a></li>
          </ul>
        </div>
        <div class="clear"></div>
        <div class="border"></div>
        <div class="home-widget">
          <h3>Lorem Ipsum</h3>
          <img src="Images/imagesFitness/home/3.jpg" width="300" alt="" />
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
        </div>
        <div class="home-widget">
          <h3>Lorem Ipsum</h3>
          <img src="Images/imagesFitness/home/4.jpg" width="300" alt="" />
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
        </div>
        <div class="home-widget">
          <h3>Lorem Ipsum</h3>
          <img src="Images/imagesFitness/home/1.jpg" width="300" alt="" />
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
        </div>
        <div class="border2"></div>
        <br />
        <aside id="pricing-table" class="clear">
          <div class="plan">
            <h3>Breakfast<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
          </div>
          <div class="plan">
            <h3>Lunch<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
          </div>
          <div class="plan">
            <h3>Dinner<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
          </div>
        </aside>
      </div>

<div class="fb-comments" data-href="https://www.facebook.com/esteban.munozguevara" data-width="470"></div>	